extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        .wrapper
            .content 
                section.how-to-get
                    .how-to-get__text-box
                        p.how-to-get__text Как получить<br>скидку на&nbsp; 
                            span.how-to-get__span
                                a.how-to-get__link(href="https://www.anywayanyday.eu/ru/" target="_blanc") anywayanyday<br>
                            span.how-to-get__span для покупки авиабилетов и бронирования гостиниц
                    .how-to-get__img-box
                        picture.how-to-get__pic     
                            source(srcset="./assets/images/broccoli.webp" type="image/webp") 
                            img(src="./assets/images/broccoli.png" alt="pink-broccoli")
                section.steps 
                    .steps__block
                        .steps__block-item
                            h2.steps__title ШАГ 1
                            p.steps__text Предложите ребёнку пройти наш тест на знание английского. Рекомендуемый возраст для прохождения от 4 до 12 лет
                        .steps__block-item.item-pic1
                            picture.steps__pic     
                                source(srcset="./assets/images/steps_img1.webp" type="image/webp") 
                                img(src="./assets/images/steps_img1.png" alt="step1-image")
                    .steps__block
                        .steps__block-item
                            h2.steps__title ШАГ 2
                            p.steps__text Предоставьте доступ к камере, механика теста предполагает использование AR-масок и эффектов
                        .steps__block-item.item-pic2
                            picture.steps__pic     
                                source(srcset="./assets/images/steps_img2.webp" type="image/webp") 
                                img(src="./assets/images/steps_img2.png" alt="step2-image")
                    .steps__block
                        .steps__block-item
                            h2.steps__title ШАГ 3
                            p.steps__text Ребёнок может начать тест-игру. Мы сделали её весёлой и увлекательной!
                        .steps__block-item.item-pic3
                            picture.steps__pic     
                                source(srcset="./assets/images/steps_img3.webp" type="image/webp") 
                                img(src="./assets/images/steps_img3.png" alt="step3-image")
                    .steps__block
                        .steps__block-item
                            h2.steps__title ШАГ 4
                            p.steps__text После прохождения, вам будут начислены баллы,  которыми можно воспользоваться на
                                span.steps__span 
                                    a.steps__link(href="#") anywayanyday.
                                span.steps__span Чем лучше результат теста, тем больше баллов!
                        .steps__block-item.item-pic4
                            picture.steps__pic     
                                source(srcset="./assets/images/steps_img4.webp" type="image/webp") 
                                img(src="./assets/images/steps_img4.png" alt="step4-image")
                section.test
                    p.test__heading Тест рассчитан на детей, поэтому они могут пройти его без помощи взрослых. Но во время тестирования кто-то из старших должен быть рядом!
                    .test__title-box
                        h2.test__title Давай начнём!
                    .test__img-box
                        picture  
                            source(srcset="./assets/images/star.webp" type="image/webp") 
                            img(src="./assets/images/star.png" alt="yellow-star")
                    a.header__link-btn.test__link-btn(href="feedback-page.html") Пройти тест
                section.faq
                    h3.faq__title f.a.q.
                    .faq__accordion-block
                        .accordion-container 
                            .ac.ac-custom     
                                h3.ac-heading.ac-custom__heading
                                    button.ac-trigger.ac-trigger-custom
                                        .ac-trigger-box Правила и условия тестирования
                                        .cross
                                .ac-panel
                                    p.ac-text.ac-text-custom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna volutpat egestas aliquam netus eget purus, scelerisque purus, quis. Volutpat platea odio viverra mi sem at egestas pharetra. Blandit enim, arcu tellus velit. Ultricies ut in duis in orci.
                            .ac.ac-custom
                                h3.ac-heading.ac-custom__heading
                                    button.ac-trigger.ac-trigger-custom
                                        .ac-trigger-box Технические требования устройства
                                        .cross
                                .ac-panel 
                                    p.ac-text.ac-text-custom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna volutpat egestas aliquam netus eget purus, scelerisque purus, quis. Volutpat platea odio viverra mi sem at egestas pharetra. Blandit enim, arcu tellus velit. Ultricies ut in duis in orci.
                            .ac.ac-custom
                                h3.ac-heading.ac-custom__heading
                                    button.ac-trigger.ac-trigger-custom
                                        .ac-trigger-box Кто может принять участие в игре
                                        .cross
                                .ac-panel 
                                    p.ac-text.ac-text-custom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Magna volutpat egestas aliquam netus eget purus, scelerisque purus, quis. Volutpat platea odio viverra mi sem at egestas pharetra. Blandit enim, arcu tellus velit. Ultricies ut in duis in orci.
                                                   








