extends ../template_copy

block variables
    - var title = 'Попробуйте'
    - var contactForm = true

block content
    main
        .wrapper
            section.try
                a.award__logo.feedback__logo.try__logo(href="index.html")    
                    picture
                        source(srcset="./assets/images/Vector Smart Object.webp" type="image/webp") 
                        img(src="./assets/images/Vector Smart Object.svg" alt="logo-speak-for-miles")
                form(action="#").feedback__form.try__form 
                    p.feedback__text.try__text Оставьте заявку на&nbsp;бесплатный&nbsp;пробный урок от&nbsp;NovaKid, чтобы улучшить результат Вашего ребенка
                    button.feedback__btn.try__btn(type="button") Попробовать бесплатно      