.how-to-get
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 0 17px
	&__text-box
		background: url("../images/how_to_get_bg.png") center no-repeat
		background-size: cover
		width: 342px
		height: 164px
		display: flex
		justify-content: center
		align-items: center
		padding: 0 35px 20px 35px
	&__text
		text-align: center
		font-family: Orelega One
		font-style: normal
		font-weight: normal
		font-size: 22.2222px
		line-height: 24px
		text-align: center
		color: #8F37FF
	&__link
		color: #F8A221
		text-decoration: underline
	&__img-box
		align-self: flex-end
		margin: -35px 5px 0 0



