footer.footer
    .footer__img-box 
        picture
            source(srcset="./assets/images/ushasty1.webp" type="image/webp") 
            img(src="./assets/images/ushasty1.png" alt="Ушастый")
    .footer__about-box        
        .footer__about.novakid 
            a.footer__logo-link(href="index.html")
                picture 
                    //- source(srcset="./assets/images/logo_novakid_footer.webp" type="image/webp") 
                    img(src="./assets/images/novakid_logo_color.svg" alt="footer_logo")
            p.footer__about-text NovaKid — детская онлайн-школа английского языка, которой доверяют более чем в 100 странах. Наша миссия — дать юному поколению возможность общаться и  обмениваться идеями на глобальном уровне, чтобы вместе построить счастливое будущее.
        .footer__line    
        .footer__about.anywayanyday 
            a.footer__logo-link.anywayanyday__logo-link(href="https://www.anywayanyday.eu/ru/" target="_blanc")
                picture 
                    //- source(srcset="./assets/images/any_logo.webp" type="image/webp") 
                    img(src="./assets/images/any_logo.svg" alt="footer_logo")
            p.footer__about-text Anywayanyday — крупнейший в России онлайн-сервис по покупке авиабилетов и бронированию отелей, имеющий представительства в США, Швейцарии, России и Украине.
