header.header
    .header__container
        .header__logo-box   
            a.header__logo.logo__novakid(href="index.html")
                picture
                    source(srcset="./assets/images/logo_novakid.webp" type="image/webp") 
                    img(src="./assets/images/logo_novakid.png" alt="logo-novakid")
            a.header__logo.logo__miles    
                picture
                    source(srcset="./assets/images/Logo_speak_for_miles.webp" type="image/webp") 
                    img(src="./assets/images/Logo_speak_for_miles.png" alt="logo-speak-for-miles")
    .header__text-block 
        p.header__text Английский открывает границы! Novakid и anywayanyday в буквальном    смысле откроют их для вас и ваших детей. Проверьте уровень английского у ребенка в веселой AR-игре и получите мили, чтобы открывать мир вместе. Чем выше уровень знаний — тем больше миль!
        a.header__link-btn(href="award-page.html") Пройти тест
        .header__arrow.arrow--down


