.popup#popup
    .popup__body
        .popup__content
            a.popup__close.close-popup(href="#")
            p.popup__title Заказать звонок
            form.popup__form(action="#")
                input(type="tel" placeholder="Номер телефона")
                button(type="submit") Заказать звонок
                .popup__agreement
                    p.popup__agreement-text Отправляя форму, Вы принимаете политику защиты и обработки персональных данных и даете свое согласие на их обработку

.popup#popup_2
    .popup__body
        .popup__content.popup_2__content
            a.popup__close.close-popup(href="#")
            p.popup__title Получить консультацию
            form.popup__form.popup_2__form(action="#")
                input(type="text" placeholder="Ваше имя")
                input(type="tel" placeholder="Номер телефона")
                button(type="submit") Заказать звонок
                .popup__agreement
                    p.popup__agreement-text Отправляя форму, Вы принимаете политику защиты и обработки персональных данных и даете свое согласие на их обработку
